#
# UNICORE/X config for UCC tests
#

container.baseurl=http://localhost:65322/services
container.host=localhost
container.port=65322
container.wsrf.persistence.persist=de.fzj.unicore.wsrflite.persistence.Persistence
persistence.directory=target/data
container.security.sslEnabled=false
container.httpServer.requireClientAuthn=false
container.httpServer.fastRandom=true
container.security.gateway.enable=false
container.security.signatures=false
container.security.truststore.type=keystore
container.security.truststore.keystorePath=src/test/resources/certs/server-keystore.jks
container.security.truststore.keystorePassword=the!njs
container.security.truststore.keystoreFormat=JKS
container.security.credential.format=jks
container.security.credential.path=src/test/resources/certs/server-keystore.jks
container.security.credential.password=the!njs

container.security.accesscontrol=true
container.security.accesscontrol.pdp=de.fzj.unicore.wsrflite.security.pdp.AcceptingPdp
container.security.rest.authentication.order=FILE
container.security.rest.authentication.FILE.class=eu.unicore.services.rest.security.FilebasedAuthenticator
container.security.rest.authentication.FILE.file=src/test/resources/uas/users.txt

container.sitename=UCC-TEST
container.onstartup=de.fzj.unicore.uas.util.DefaultOnStartup
container.security.accesscontrol=false

# TSI to use
coreServices.targetsystemfactory.tsiMode=custom
coreServices.targetsystemfactory.tsiCustomModeModuleClass=de.fzj.unicore.ucc.util.MyLocalTSIModule

# XNJS stuff
XNJS.filespace=/tmp/ucc-test/data/FILESPACE
de.fzj.unicore.xnjs.persistence.clearAllOnStartup=true
XNJS.idbfile=src/test/resources/uas/simpleidb
XNJS.numberofworkers=4

coreServices.sms.factory.DEFAULT.type=FIXEDPATH
coreServices.sms.factory.DEFAULT.path=/tmp/ucc-test/data/STORAGES
coreServices.sms.factory.DEFAULT.infoProviderClass=de.fzj.unicore.ucc.util.MockStorageInfoProvider

coreServices.sms.storage.1.name=WORK
coreServices.sms.storage.1.type=FIXEDPATH
coreServices.sms.storage.1.path=target/data

coreServices.metadata.managerClass=de.fzj.unicore.ucc.util.MockMetadataManager
