#
# UNICORE/X + Workflow service config
#

container.baseurl=https://localhost:65322/services
container.host=localhost
container.port=65322
container.wsrf.persistence.persist=de.fzj.unicore.wsrflite.persistence.Persistence
persistence.directory=target/data
container.security.sslEnabled=true
container.httpServer.requireClientAuthn=false
container.httpServer.fastRandom=true
container.security.gateway.enable=false
container.security.signatures=false
container.security.truststore.type=directory
container.security.truststore.directoryLocations.1=src/test/resources/conf/certs/demo-ca-cert.pem
container.security.credential.format=jks
container.security.credential.path=src/test/resources/conf/certs/server-keystore.p12
container.security.credential.password=the!njs

container.security.accesscontrol=true
container.security.accesscontrol.pdp=de.fzj.unicore.wsrflite.security.pdp.AcceptingPdp

container.security.rest.authentication.order=FILE X509

container.security.rest.authentication.FILE.class=eu.unicore.services.rest.security.FilebasedAuthenticator
container.security.rest.authentication.FILE.file=src/test/resources/conf/users.txt

container.client.serverHostnameChecking=NONE

container.sitename=UCC-TEST

# TSI to use
coreServices.targetsystemfactory.tsiMode=custom
coreServices.targetsystemfactory.tsiCustomModeModuleClass=de.fzj.unicore.ucc.util.MyLocalTSIModule

# XNJS stuff
XNJS.filespace=target/ucc-test/FILESPACE
de.fzj.unicore.xnjs.persistence.clearAllOnStartup=true
XNJS.idbfile=src/test/resources/conf/simpleidb
XNJS.numberofworkers=2

coreServices.sms.factory.DEFAULT.type=FIXEDPATH
coreServices.sms.factory.DEFAULT.path=target/ucc-test/STORAGES

coreServices.sms.storage.1.name=WORK
coreServices.sms.storage.1.type=FIXEDPATH
coreServices.sms.storage.1.path=target/ucc-test/WORK
