#
# UNICORE/X config for UCC tests
#
container.host=localhost
container.port=65322
persistence.directory=target/data
container.security.sslEnabled=true
container.httpServer.requireClientAuthn=false
container.httpServer.fastRandom=true
container.security.gateway.enable=false
container.security.signatures=false
container.security.truststore.type=directory
container.security.truststore.directoryLocations.1=src/test/resources/certs/demo-ca-cert.pem
container.security.credential.format=jks
container.security.credential.path=src/test/resources/certs/server-keystore.p12
container.security.credential.password=the!njs

container.security.accesscontrol=true
container.security.accesscontrol.pdp=eu.unicore.services.security.pdp.AcceptingPdp

container.security.rest.authentication.order=FILE X509

container.security.rest.authentication.FILE.class=eu.unicore.services.rest.security.FilebasedAuthenticator
container.security.rest.authentication.FILE.file=src/test/resources/uas/users.txt

container.sitename=UCC-TEST

# TSI to use
coreServices.targetsystemfactory.tsiMode=custom
coreServices.targetsystemfactory.tsiCustomModeModuleClass=eu.unicore.ucc.util.MyLocalTSIModule

# XNJS stuff
XNJS.filespace=target/data/UX-FILESPACE
de.fzj.unicore.xnjs.persistence.clearAllOnStartup=true
XNJS.idbfile=src/test/resources/uas/simpleidb
XNJS.numberofworkers=4

coreServices.sms.factory.DEFAULT.type=FIXEDPATH
coreServices.sms.factory.DEFAULT.path=/tmp/ucc-test/data/STORAGES
coreServices.sms.factory.DEFAULT.infoProviderClass=eu.unicore.ucc.util.MockStorageInfoProvider

coreServices.sms.storage.1.name=WORK
coreServices.sms.storage.1.type=FIXEDPATH
coreServices.sms.storage.1.path=target/data

coreServices.metadata.managerClass=eu.unicore.ucc.util.MockMetadataManager
